# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/

# Ignore build and distribution directories
build/
dist/
*.egg-info/

# Ignore .env file for sensitive information
.env

# Ignore configuration files for IDEs (e.g., VS Code, PyCharm)
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other Python-related system files
*.log
*.sqlite
